{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>글 수정하기</h2>
<form action="{% url 'main:update' post.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <p>제목: <input type="text" name="title" value="{{post.title}}"></p>
  {% comment %} <p>작성자: <input type="text" name="author" value="{{post.author}}"></p> {% endcomment %}
  <p>분류: <input type="text" name="category" value="{{post.category}}"></p>
  {% if post.image %}
    <p><img src="{{ post.image.url }}" alt="사진" width="100px"></p>
  {% endif %}
  <p>사진: <input type="file" name="image"></p>
  <p>본문: <textarea type="text" name="body" id="" cols="30" rows="10">{{post.content}}</textarea></p>
  <button type="submit">제출</button>
</form>
{% endblock %}